@model OnlineShop.Models.Product

@{
    ViewBag.Title = "Products";
 
}

@using (Html.BeginForm("Products", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{   
        <p>Название игры: @Html.TextBoxFor(x => x.Title)</p>
        <p>Категория: @Html.TextBoxFor(x => x.Category_id)</p>
        <p>Количество продукта:  @Html.TextBoxFor(x => x.Amount)</p>
        <p>Цена:  @Html.TextBoxFor(x => x.Price)</p>
        <input type="file" name="upload" /><br />

        <p class="submit"><input type="submit" value="Добавить" /></p>

        <table>
            <tr>
                <td><p>Название игры </p></td>
                <td><p>Категория </p></td>
                <td><p>Количество продукта </p></td>
                <td><p>Цена </p></td>
                <td><p>Файл </p></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.products)
            {
                <tr>
                    <td><p>@b.Title</p></td>
                    <td><p>@b.Category_id</p></td>
                    <td><p>@b.Amount</p></td>
                    <td><p>@b.Price</p></td>
                    <td><p>@b.Picture</p></td>

                    <td><p><a href="/Home/ProductsEdit/@b.Product_id">Редактировать</a></p></td>
                    <td><p><a href="/Home/ProductsRemove/@b.Product_id">Удалить</a></p></td>
                </tr>
            }
        </table>
}

