@model OnlineShop.Models.Product

@{
    ViewBag.Title = "ProductsEdit";
    Layout = "~/Views/Shared/_Master.cshtml";
}

@using (Html.BeginForm("Products", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>Название игры: @Html.TextBoxFor(x => x.Title)</p>
    <p>Категория: @Html.TextBoxFor(x => x.Category_id)</p>
    <p>Количество продукта: @Html.TextBoxFor(x => x.Amount)</p>
    <p>Цена: @Html.TextBoxFor(x => x.Price)</p>
    <p>Скидка: @Html.TextBoxFor(x => x.Stock)</p>
    <input type="file" name="upload" /><br />

    <input type="submit" value="Добавить" />
}
